html {
    height: 100%;
}

body{
    height: 100%;
}

.container{
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.konten{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.card {
    margin: 20px 0; 
    color: white;
    border-radius: 10px;
    /* border: 1px solid rgb(255, 103, 2); */
    box-shadow: 0 0 15px 2px rgba(0, 0, 0, 0.616);
    background-color: rgba(20, 20, 20, 0.644);
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.card h2{
    margin-bottom: 10px;
}

form {
    width: 300px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 10px;
    /* background-color: #fff; */
    box-sizing: border-box;
}

label {
    font-size: 12px;
    color: rgb(255, 103, 2);
    font-weight: 600;
    margin-bottom: 2px;
}

input {
    width: 98%;
    margin-bottom: 15px;
    color: white;
    font-size: 18px;
    padding: 5px 0;
    background: none;
    border-top: none;
    border-left: none;
    border-right: none;
    border-bottom: 1px solid rgb(255, 255, 255);
}

button {
    margin: 15px auto;
    width: 50%;
    cursor: pointer;
    background-color: rgb(255, 103, 2);
    border: none;
    border-radius: 6px;
    font-size: 18px;
    color: white;
    padding: 5px;
    transition: .5s;
}

button:hover{
    box-shadow: 0 0 15px 2px rgba(255, 103, 2, 0.849);
    transform: scale(1.05);
}

a {
    text-decoration: none;
    color: rgb(255, 103, 2);
}

.footer p{
    color: white;
    background: none;
}
